<ul data-test="room-list">
  {{#each model as |room|}}
    <li>           {{! :room_id :room_name}}
      {{#link-to 'room' room.id room.name}}
        {{room.name}}
      {{/link-to}}
     </li>
  {{/each}}
</ul>

{{outlet}}
